$progressHeight: 0.5em;
$progressHatchAngle: -45deg;
$progressHatchSpeed: 1s;
$progressHatchColor: rgba(white, 0.5);
$progressHatchSize: 1em;

@keyframes progress {
  0% {
    background-position: $progressHatchSize 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(0.3)
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate-in {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(360deg);
  }
  60% {
    transform: scale(1.3) rotate(#{360 * 0.4}deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes diagonal-slide-in {
  0% {
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-300%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.reacticon {
  position: relative;
  display: inline-block;
}

.reacticon__file {

}

.reacticon__file__background {

}

.reacticon__file__flap {

}

.reacticon__type {
  path {
    transform-origin: 50%;
  }
}


.reacticon__label {
  bottom: 0.6em;
  display: inline-block;
  font-weight: bold;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.reacticon__progress {
  $width: 60%;
  $margin: -($width / 2);
  border-radius: $progressHeight / 2;
  bottom: 0.9em;
  height: $progressHeight;
  left: 50%;
  margin: 0 0 0 $margin;
  overflow: hidden;
  position: absolute;
  width: $width;
}

.reacticon__progress__fill {
  border-radius: inherit;
  height: inherit;

  .is-processing & {
    animation: progress $progressHatchSpeed linear infinite;
    background-image: linear-gradient($progressHatchAngle, $progressHatchColor 25%, transparent 25%, transparent 50%, $progressHatchColor 50%, $progressHatchColor 75%, transparent 75%, transparent);
    background-size: $progressHatchSize $progressHatchSize;
    width: 100%;
  }
}

// Animations
.reacticon-enter {
  &.animate-flap .reacticon__file__flap {
    transform: rotate3d(0, 0, 0, 180deg);
    transition: all 0.8s ease-out;
    transform-origin: 100% 100%;
  }
}

.reacticon-enter.reacticon-enter-active {
  &.animate-flap .reacticon__file__flap {
    transform: rotate3d(1, 1, 0, 180deg);
  }
}

// table
.reacticon__table_header {
  animation: drop-in 0.4s ease-in;
}

.reacticon__table_row-1 {
  animation: drop-in 0.35s ease-in;
}

.reacticon__table_row-2 {
  animation: drop-in 0.3s ease-in;
}

.reacticon__table_row-3 {
  animation: drop-in 0.25s ease-in;
}

.reacticon__table_row-4 {
  animation: drop-in 0.2s ease-in;
}

.reacticon__table_row-5 {
  animation: drop-in 0.15s ease-in;
}

.reacticon__table_row-6 {
  animation: drop-in 0.1s ease-in;
}

// image
.reacticon__image_bg {
  animation: scale-in 0.1s ease-in;
}

.reacticon__image_front-mtn {
  animation: scale-in 0.3s ease-in;
}

.reacticon__image_rear-mtn {
  animation: scale-in 0.2s ease-in;
}

.reacticon__image_sun {
  animation: scale-in 0.4s ease-in;
}

// slides
.reacticon__slides_bg {
  animation: scale-in 0.1s ease-in;
}

.reacticon__slides_pie {
  animation: rotate-in 0.3s ease-out;
}

.reacticon__slides_slice {
  animation: diagonal-slide-in 0.4s ease-out;
}

